body{
    background: url('images/backend(1).jpg');
}
.name{
    color: orange;
    padding-top: 4%;
    text-align: center;
    font-size: 25px;
    /* padding-right: 2%; */
    /* background-color: gray; */
}
.name input{
    background-color: white solid;
    size: 100px;
    /* align-items: center; */
}
.head{
    color: white;
    text-align: center;
    font-size: 70px;
}
.number{
    color: orange;
    text-align: center;
    font-size: 25px;
    padding-top: 1%;
    /* padding-left: 34.5%; */
    /* position: fixed; */
}
.age{
    color: orange;
    text-align: center;
    font-size: 25px;
    padding-top: 1%;
    
}
.Plan{
    text-align: center;
    padding-top: 1%;
    color: orange;
    font-size: 25px;
}
.planander{
    padding-left: 24%;
}
.ok{
    padding-right: 1.5%;
}
.payment{
    padding-top: 1%;
}
.payment1{
    padding-top: 1%;
}
.join{
    /* padding-top: 1%; */
    color: white;
    font-size: 30px;
}
.success button{
background-color: orange;
border-radius: 10px;
}
.success button:hover{
    background-color: rgb(150, 116, 52);
    cursor: pointer;
}
